.axis text {
	font-family: sans-serif;
	font-size: 13px;
	fill: darkgray;
}
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: gray;
  opacity:0.2;
  stroke-dasharray: 5,5;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line{
  stroke: gray;
  opacity:0.2;
  stroke-dasharray: 3,3;
}

.y.axis path {
  display: none;
}

.toolTip {
  pointer-events: none;
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 2px;
  border-left: dodgerblue;
  text-align: center;
  line-height: 1.3;
  color: #5B6770;
  opacity: 0.9;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
 
.toolTip span {
  font-weight: 500;
  color: #081F2C;
}